# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Stuff in my bin directory
bin/
lib/googletest

# Ignore .vagrant
.vagrant/

# Ignore clion stuff
.idea
cmake-build-debug/*
CMakeFiles/

CMakeCache\.txt

cmake_install\.cmake

client

server

*.sublime-workspace

*.cbp

compile_commands\.json

Makefile

client_side_prediction_example\.js
